rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.role == 'admin';
    }

    match /books/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /reels/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /chapters/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /avatars/{userId}/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }
  }
}
